
/*Global Rest to make sure the project looks the same across different browsers*/
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#canvas1 {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /** make sure the canvas always centered */
    background: #4d79bc;

    /* Element will scale down until it's fully visible in the available browser area */

    max-width: 100%;
    max-height: 100%;
}